.inputForm {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
}

.input {
    display: block;
    margin-top: 2px;
    width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 4px;
}